<section>
    <div class="circle1"></div>
    <div class="joinPageFather">
        <h2>Join the <span>fun.</span></h2>
        <form>
            <label for="">Name:</label>
            <input type="text">
            <label for="">Email:</label>
            <input type="text">
            <label for="">Password:</label>
            <input type="text">
            <button type="submit">Join now</button>
        </form>
            <div class="circle2"></div>
    </div>
</section>
<app-footer></app-footer>