footer {
    display: flex;
    background-color: #202027;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

div a {
    color: white;
    gap: 2px;
    text-decoration: none;
}

.left {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.left a:hover {
    color: gray;
}

.right a:hover {
    color: gray;
}