<section>
    <div class="discover">
        <div class="left">
        <h2>Discover new music</h2>
        <div class="divFather">
            <div class="divSon">
                <a href=""><img src="../../assets/microphone.svg" alt="">Charts</a>
            </div>
            <div class="divSon">
                <a href=""><img src="../../assets/albums.svg" alt="">Albums</a>
            </div>
            <div class="divSon">
                <a href=""><img src="../../assets/more.svg" alt="">More</a>
            </div>
        </div>
        <p>By joining you can benefit by listening to the latest albums released.</p>
    </div>
        <img class="covers" src="../../assets/covers.jpg" alt="">
    </div>
</section>
<app-footer></app-footer>